
.container{
    width: clamp(100px, 100%, 300px);
}

.channelsbox{
    height: 45%;
    background-color: #21252b;
}

.scroll{
    overflow-y: scroll;
    height: 92%;
}

.membersbox{
    height: 45%;
    background-color: #21252b;
}

.profile{
    height: 10%;
    background-color: #21252b;
    border-top: 5px #282c34 solid;
}

.title{
    padding: 3px 0;
    display: flex;
    justify-content: center;
    background-color: #181b1f;
}

.panel{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logout {
    color: white;
    cursor: pointer;
    background-color: #5e5e5e;
    border: none;
    border-radius: 4px;
    padding: 5px;
}

.logout:hover{
    background-color: #7d7d7d;
}