
.container{
    width: clamp(100px, 100%, 300px);

}

.create {
    margin: 5px 5px;;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    border: 1px solid #467d37;
    color: rgb(185, 185, 185);
    width: 90%;
    background-color: transparent;
    font-size: 13px;
    font-weight: bold;
    transition: background-color 0.1s;
}


.create:hover{
    background-color: #467d37;
    cursor: pointer;
}

.join {
    margin: 5px 5px;;
    border-radius: 5px;
    padding: 5px 0 5px 0;
    border: 1px solid #2c508f;
    color: rgb(185, 185, 185);
    width: 90%;
    background-color: transparent;
    font-size: 13px;
    font-weight: bold;
    transition: background-color 0.1s;
}

.join:hover {
    background-color: #2c508f;;
    cursor: pointer;
}

.channelsbox{
    height: 45%;
    background-color: #21252b;
    overflow-y: scroll;
}

.scroll{
    overflow-y: scroll;
    height: 92%;
}

.membersbox{
    height: 45%;
    background-color: #21252b;
    overflow-y: scroll;
}

.profile{
    height: 10%;
    background-color: #21252b;
    border-top: 5px #282c34 solid;
}

.title{
    padding: 3px 0;
    display: flex;
    justify-content: center;
    background-color: #181b1f;
}

.panel{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logout {
    color: white;
    cursor: pointer;
    background-color: #8f2c2c;
    border: none;
    border-radius: 4px;
    padding: 5px;
    background-image: url(../assets/disconnect.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    width: 30px;
    height: 30px;
}

.rename {
    color: white;
    cursor: pointer;
    background-color: rgb(66, 66, 66);
    border: none;
    border-radius: 4px;
    padding: 5px;
    background-image: url(../assets/plume.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    width: 30px;
    height: 30px;
    margin-right: 5px;

}

.logout:hover{
    background-color: #9e3333;
}

.rename:hover{
    background-color: #4c4c4c;
}