.container {
    height: 100vh;
    width: 100%;
}

.chatbox{
    height: 90%;
    overflow-y: scroll;
    background-color: #282c34;
}

.input{
    height: 10%;
    background-color: white;
}

.title {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #21252b;
}