
.container{
    width: clamp(100px, 100%, 300px);
}

.membersbox{
    height: 90%;
    background-color: #21252b;
}

.profile{
    height: 10%;
    background-color: #21252b;
    border-top: 5px #282c34 solid;
}

.title{
    padding: 3px 0;
    display: flex;
    justify-content: center;
    background-color: #181b1f;
}