.container {
    margin-top: 2px;
    padding: 5px;
    word-wrap: break-word;
}

.container:hover{
    background-color: #353942;
}


.hour {
    color: #0182ff;
}

.system{
    padding: 10px;
    word-wrap: break-word;
    background-color: rgba(190, 190, 190, 0.075);
    border-radius: 10px;
    width: clamp(100px, 50%, 500px);
}

.system_title{
    border-bottom: 1px solid #a8a8a8;
    padding-bottom: 5px;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}