* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font: 14px sans-serif;
    color: #c5c5c5;
}

.panel {
    display: flex;
}

.separator{
    display: flex;
}

.member_container{
    display: flex;
    align-items: center;
}

.member_container {
    /* border: 2px solid transparent; */
    margin: 5px 10px 0 10px;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 15px;
}

.member_container:hover{
    /* border: 2px solid #2c508f; */
    cursor: pointer;
}

.member_container p:hover{
    color: #fff;
}

.status_dot{
    background-color: whiteZ;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

.connected {
    background-color: #2c8f2c;
    box-shadow: 0 0 10px #2c8f2c;

}

.disconnected {
    background-color: #8f2c2c;
    /* box-shadow: 0 0 10px #8f2c2c; */
}

.channel_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channel_container p {
    margin: 2px 10px 2px 10px;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 15px;
}


.channel_container p:before{
    content: "#";
    color: #c5c5c5;
    margin-right: 3px;
}

.private::after{
    content: "🔒";
    color: #c5c5c5;
}

.channel_container:hover{
    background-color: #2c508f;
    border-radius: 10px;
    cursor: pointer;
}

.channel_container:hover p {
    color: #fff;
}

.channel_container:hover button {
    display: block;
}

.channel_container button {
    border: none;
    background-color: transparent;
    color: #fff;
    display: none;
    margin-right: 10px;
}

.channel_container button:hover {
    cursor: pointer;
    color : #bc4141;
}

.active{
    background-color: #282c34;
}

.active p{
    color: #fff;
}

.profile_avatar{
    width: 20%;
    border-radius: 50%;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: #21252b;
}

::-webkit-scrollbar-thumb {
    background: #9ea1a8;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(218, 218, 218)
}